html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar{

}
.header{
  @apply flex space-x-28 items-center mb-3
}

.navbar ul {
  @apply flex space-x-10 relative
}
.navbar ul li a{
  @apply font-oswald uppercase text-xs text-gray-600 font-medium hover:text-red-600 transition duration-300 ease-in tracking-[0.15em]
}
.hero-image{
  @apply h-full w-full object-cover object-center
}

.hero-title{
  @apply   text-[118px] -skew-y-[7deg]  font-oswald font-medium text-[#cb9d4d] uppercase leading-[1.1] -z-10
}

.button-1{
  @apply w-40 overflow-hidden tracking-widest px-8 py-3 text-white bg-red-500 relative before:absolute before:bg-red-600 before:bottom-0 before:inset-x-0 before:transition-all before:duration-300 before:h-0 hover:before:h-full
}

.button-1 span{
@apply uppercase text-xs font-oswald relative font-semibold
}

.card {
  @apply flex flex-col  space-y-5
}

.card div{
  @apply relative before:absolute before:bg-[url('https://images.pexels.com/photos/4109128/pexels-photo-4109128.jpeg')] before:bg-cover before:bg-center  before:inset-0 before:transition-all before:duration-300 before:opacity-0 hover:before:opacity-100 before:ease-in
}

.card h1{
  @apply text-gray-800 text-2xl font-medium  font-oswald uppercase
}

.card p{
@apply text-gray-500
}

.card button {
  @apply flex text-[#cb9d4d] items-center
}

.card button span {
  @apply text-xs font-medium uppercase font-oswald  tracking-widest
}

.svg{
  @apply h-6 w-6 mr-2 fill-current
}

.menu-item{

}

.menu-item div{
  @apply flex justify-between text-[#cb9d4d] 
}

.menu-item div h1{
  @apply text-lg uppercase font-medium text-[#cb9d4d] tracking-wider font-oswald
}

.menu-item div span{
@apply text-red-600 font-bold font-oswald text-sm
}

.menu-item p {
  @apply text-gray-500 w-2/3
}

.menu-section {
  @apply p-20 space-y-20 flex flex-col items-center
}

.menu-section-order{
  @apply space-y-6 flex flex-col items-center
}

.menu-section-order p{
  @apply text-xs text-gray-500 text-center
}
.section-header{
  @apply space-y-5 text-center w-1/2 mx-auto 
}

.section-header a {
  @apply text-red-600 text-xs font-medium tracking-[0.15em] font-oswald uppercase
}


.section-header h1{
  @apply text-gray-800 text-4xl font-medium  font-oswald uppercase 
}

.section-header p {
  @apply text-xl text-gray-500
}

